<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="add-usuario">
        <mat-icon>add</mat-icon> Agregar usuario
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="list-usuario">
        <mat-icon>format_list_bulleted</mat-icon> Listar usuarios
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
  <!-- Main content -----  -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
